<div class="popover top <%= video.youtube_id %>">
  <div class="arrow"></div>
  <h3 class="popover-title">Share</h3>
  <div class="popover-content">
    <p>

    </p>
    <div class="popover-footer"></div>
  </div>
</div>
<%= link_to("Share", '', :class => "btn btn-system-default popover-click")%>
