<div class="span10 videos-list">
  <form>
    <div class="input-append">
      <input class="span9" id="appendedInputButtons" placeholder="Buscar" size="16" type="text">
      <button class="btn" type="button">Search</button>
      <button class="btn btn-upload" type="button">Options</button>
    </div>
  </form>
</div>