<h1>About</h1>

<h3>Gangnam Style team</h3>

<p>Project by <a href='http://github.com/lucascaton'>Lucas Caton</a>, <a href='http://github.com/flaviomuniz'>Flavio Muniz</a>, <a href='http://github.com/tomas-stefano'>Tomas D'Stefano</a> and <a href='http://github.com/joaomdmoura'>Joao Moura</a> (<a href='http://railsrumble.com/'>Rails Rumble 2012</a>).</p>
