@import "mixin";

body {
  background: url('background_pattern.jpg');
  li{
    list-style: none
  }
  .logo {
    margin-bottom: 30px;
  }
  .container {
    width: 768px;
    margin: 0 auto;
  }
}

.menu-top {
  position: absolute;
  top: 7px;
  ul {
    li {
      padding: 8px 10px 5px 10px;
      background: #f1f1f1;
      float: left;
      margin-right: 10px;
      border: 2px solid #e1e1e1;
      @include rounded(3px);
      @include shadow(0 1px 1px 1px #ccc);
      a {
        color: #596a6c;
        display: block;
        &:hover{
          text-decoration: none
        }
      }
      &:hover {
        padding: 10px 10px 5px 10px;
      }
    }
  }
}

form {
  input::-webkit-input-placeholder,
  input:-moz-placeholder,
  input:-ms-input-placeholder {
    font-style: italic;
  }
}

.video-content,.sponsored{
  position: relative;
  display: block;
  padding: 20px 53px 20px 20px;
  margin: 0 0 20px 0;
  @include rounded(3px);
  @include shadow(inset 1px 1px 0 0 #ccc);
  h2 {
    font-size: 16px;
  }
  img {
    float: left;
    @include rounded(3px);
    border: 3px solid white;
    @include shadow(2px 2px 1px 0 #ccc);
    margin-right: 0
  }
  div {
    margin-top: -15px;
    float: left;
    p {
      margin-top: -15px
    }
  }

  span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #a99aa6;
    font-size: 16px;
  }
}

.video-content {
  background: #dbedef;
  color: #596a6d;
  .btn-system-default{
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background: #596a6c;
  }

  .btn-system-default:hover {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background: #596a6c;
  }

  &.sponsored {
    background: #f2dcee;
    color: #6f596b;
    .btn-system-default{
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      background: #6f596b;
    }

    .btn-system-default:hover {
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      background: #614d5d;
    }

  }
}

footer {
  background: url('footer_backgorund_pattern.jpg');
  height: 80px;
  position: relative;
  bottom: -50px;
  div {
    width: 775px;
    margin: 0 auto;
    p{
      background: #fff;
      @include rounded(3px);
      @include shadow(inset 1px 1px 0 0 #ccc);
      width: 375px;
      margin: 20px 0;
      padding: 5px
    }
  }
}